body{
  background-color: #1a3a52;
  text-align: center;
  color: white;
}

h1{
  font-family: 'Pacifico', cursive;
  font-size: 4rem;

}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

img{
  width: 300px;
}
